<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Operations</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="box">
      <form action="/update/<%user._id%>" method="post">
        <label>Update User </label>

        <input
          type="text"
          name="name"
          placeholder="Name"
          value="<%=user.name%>"
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          value="<%=user.email%>"
        />
        <input
          type="text"
          name="ImageUrl"
          placeholder="Image Url"
          value="<%=user.ImageUrl%>"
        />
        <input
          type="submit"
          value="Update User"
          style="background-color: yellow; color: black"
        />
      </form>
    </div>
  </body>
</html>
