<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Operations</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="box">
      <form action="/create" method="post">
        <label>Create User </label>

        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="text" name="ImageUrl" placeholder="Image Url" />
        <input type="submit" value="Crate User" />
      </form>
    </div>
  </body>
</html>
